<%- include ("../partials/header.ejs"); %>

<link rel="stylesheet" href="/stylesheets/home.css">

<head>
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <title>Welcome Wagg.ly | <%= title %>  </title>
    
    <meta name="theme-color" content="#e10300">
  </head>
  
  <body>
    <div class="main">
      <h1  class ="heading" align="center">Welcome Wagg.ly </h1>
      <form class="form1">
        <p class="un " type="text" align="center"> Wagg.ly is a new way to pair your dogs with walkers of your choice. Post your dog
            and information for walkers to see. And if you want to walk more dogs advertise yourself to owners. Wagg.ly is in the first
            stages of prototyping so just wait for the many features to make your dogs tail go Wagg.ly!


            
        </p>
                  
      </div>
    
  </body>